{% extends "friends-base.html" %}
{% load staticfiles %}
{% block following%} is-active {% endblock %}
{% block loadPeople %}
{% for following, followingProfileImage in link reversed %}
	<a class="thumb" href=/following/{{following.id}}>
		<div style="background-image: url({{followingProfileImage|cut:'memorylane'}})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">{{following.first_name}}</span>
		</div>
	</a>
	{% empty %}
	<h2>{{user.first_name}} hasn't followed anyone yet.</h2>
	{% endfor %}
{% endblock %}