{% extends "friends-base.html" %}
{% load staticfiles %}
{% block follower%} is-active {% endblock %}
{% block loadPeople %}
{% for follower, followerProfileImage in link reversed %}
	<a class="thumb" href=/profile-mod/{{follower.id}}>
		<div style="background-image: url({{followerProfileImage|cut:'memorylane'}})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">{{follower.first_name}}</span>
		</div>
	</a>
	{% empty %}
	<h2>{{user.first_name}} hasn't had any follower yet.</h2>
	{% endfor %}
{% endblock %}