<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}

<title>{{first_name}}'s Friends</title>
<body>
	{% include 'nav.html' %}
	<div class="gridContainer flex friends">
		<div class="main flex">
			<div class="user-info flex">
				<div class="user-image" style="background-image:url({{author.image|cut:'memorylane'}})">
				</div>
				<br>
				<div class="user-name">
					<a href=/profile-mod/{{user.id}}><h1>{{first_name}} {{last_name}}</h1></a><br/>
					<a href=/newpost_new/><h3>@{{user.username}}</h3></a>
				</div>
			</div>
			<div class="subnav  friends">
				<ul class="FriendsNav-list">
				    <li class="FriendsNav-item FriendsNav-item-friends {% block friends %}{% endblock %}">
					   	<a  href=/friends/{{user.id}}>
					   		<span class="FriendsNav-label">Friends</span>
					   		<span class="FriendsNav-value" data-is-compact="false">{{countfriends}}</span>
					   	</a>
				    </li>
				   	<li class="FriendsNav-item FriendsNav-item-following {% block following %}{% endblock %}">
				   		<a href=/following/{{user.id}}>
				   			<span class="FriendsNav-label">Following</span>
					   		<span class="FriendsNav-value" data-is-compact="false">{{countfollowing}}</span>
					   	</a>
					</li>
				   	<li class="FriendsNav-item FriendsNav-item-followers {% block follower %}{% endblock %}">
				   		<a href=/follower/{{user.id}}>
				   			<span class="FriendsNav-label">Follower</span>
					   		<span class="FriendsNav-value" data-is-compact="false">{{countfollowers}}</span>
					   	</a>
					</li>
				</ul>
			</div>
		</div>
			<!--will be templated if we have users-->

			<div class="people flex friends">
				{% block loadPeople%} {% endblock %}
			</div>

</body>
</html>