{% extends "friends-base.html" %}
{% load staticfiles %}
{% block friends %} is-active {% endblock %}
{% block loadPeople %}
	{% for friend, friendProfileImage in link reversed %}
	<a class="thumb" href=/profile-mod/{{friend.id}}>
		<div style="background-image: url({{friendProfileImage|cut:'memorylane'}})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">{{friend.first_name}}</span>
		</div>
	</a>
	{% empty %}
	<h2>{{user.first_name}} hasn't met any friend yet.</h2>
	{% endfor %}
{% endblock %}